:root {
  --bg-main: #dedede;
  --bg-highlight: #e4e4e4;
  --bg-accent: #c2c2c2;
  --bg-accent-dark: #959595;
  --bg-accent-light: #efefef;
  --bg-option: #c8e6e6;
  --bg-super-gradient: linear-gradient(
    135deg,
    rgb(22, 161, 192) 0%,
    rgb(221, 18, 221) 60%,
    rgb(221, 18, 221) 100%
  );
  --bg-button: #3b3b3b;
  --bg-button-dark: #1d1d1d;
  --text-main: #585858;
  --text-bold: #000000;
  --text-option: #8498a1;
  --text-light: #e2e2e2;
  --text-lightest: #ffffff;
  --text-link: #20368d;
  --text-link-hover: #2468c6;
  --text-link-visited: #391c86;
  --stroke-light: #bbbbbb;
  --stroke-option: #999999;
}

:root.dark {
  --bg-main: #051d2a;
  --bg-highlight: #092533;
  --bg-accent: #3a4750;
  --bg-accent-light: #304451;
  --bg-option: #085051;
  --bg-super-gradient: linear-gradient(
    135deg,
    rgb(39, 215, 255) 0%,
    rgb(233, 27, 233) 60%,
    rgb(233, 27, 233) 100%
  );
  --text-main: #c7c7c7;
  --text-bold: #ffffff;
  --text-option: #99c8de;
  --text-link: #7388dd;
  --text-link-hover: #2c60a9;
  --text-link-visited: #9a75ff;
  --stroke-light: #68767f;
  --stroke-option: #3a4e55;
}

