:root {
  --default-fz: 16;
  --mobile-fz: 14.5;
}

a[target="_blank"] {
  position: relative;
  padding-right: 1.2em; /* アイコン分の余白 */
}

/* 擬似要素でアイコンを表示 */
a[target="_blank"]::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.9em;
  height: 0.9em;
  transform: translateY(-50%);
  
  /* 色はここで指定（リンクと同じ色にしたいなら currentColor） */
  background-color: currentColor;

  /* SVG をマスクとして使う */
  -webkit-mask: url("/public/icons/icon-external.svg") no-repeat center / contain;
  mask: url("/public/icons/icon-external.svg") no-repeat center / contain;
}

main {
  h1, heading-1 {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--text-bold);
    line-height: 1.15;
    margin-bottom: 2rem;
  }
  h2, heading-2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--text-option);
    line-height: 1.15;
    margin-top: 5.5rem;
    margin-bottom: 2rem;
  }
  h3, heading-3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
  }
  h4, heading-4 {
    font-size: 1.7rem;
    line-height: 1.15;
    margin-bottom: 1.4rem;
  }
  h5, heading-5 {
    font-size: 1.65rem;
    line-height: 1.15;
  }
  h6, heading-6 {
    font-size: 1.6rem;
    line-height: 1.15;
    margin-bottom: 1.4rem;
  }
  /* .heading-1,
  .heading-2,
  .heading-3,
  .heading-4,
  .heading-5,
  .heading-6 {
    margin-bottom: 1.5rem;
  } */
  

  ul,ol {
    background-color: var(--bg-accent-light);
    padding: 1em;
    border-radius: 0.5em;
    margin-left: 0;
    margin-bottom: 2rem;
    border: 1px solid var(--storoke-light);
    ul, ol {
      border: 0;
      margin: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  p, ul, ol, dl, table, blockquote, pre {
    margin-bottom: 2rem;
  }
  
  [class^="language-"] {
    margin-bottom: 2rem;
    pre {
      padding: 2rem;
    }
  }
}

ul,ol,dl {
  margin-left: 1em;
}


ul,ol {
  li {
    margin-left: 1em;
    margin-bottom: 0.7em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 1em;
}

nav {
  ul,ol,li {
    margin-left: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}